body { margin: 10%;
  margin-top: 5%;  
  background-color: skyblue;
}

  .title { 
    background-color: white;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color: azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      border-top: 20px solid blue;
      margin-bottom: 12px;
      padding: 24px;
      padding-top: 22px;
      position: center;
   }
   .title > p {
    color: red
   }

   .email {
    background-color: white;
   border: 0.5px solid black;
 border-radius: 2%;
 margin-top: 12px;
     background-color: azure;
     border: 1px solid #2b3956;
     border-radius: 8px;
     margin-bottom: 12px;
     border-top: 20px solid purple;
     padding: 24px;
     padding-top: 22px;
     position: relative;
  }
  .fullname { 
    background-color: white;
  border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color: azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;
      position: relative;
  }
   .phone{
     background-color: white;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color: azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;
      position: relative;}
  
      .next {
        background-color: white;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color: azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;
      position: relative;
      }
  .fee {
    background-color: white;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color:azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;
      position: relative;
      }
      .who{
        background-color: white;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color: azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;}
  
      .location{
        background-color: white;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color: azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;}
  
      .school{
        background-color: white;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color: azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;}
  
      .why {
        background-color: blue;
    border: 0.5px solid black;
  border-radius: 2%;
  margin-top: 12px;
      background-color:azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;
  }
  
  .how{
      background-color: white;
      border: 0.5px solid black;
      border-radius: 2%;
      margin-top: 12px;
      background-color:azure;
      border: 1px solid #2b3956;
      border-radius: 8px;
      margin-bottom: 12px;
      border-top: 20px solid purple;
      padding: 24px;
      padding-top: 22px;
  }
   button{ background-color: aqua; color: black;
   margin: 0% }
  
   progress { 
     -webkit-appearance: none;
     width: 10%;
     height: 10px;
     overflow: hidden;
     border: 1px solid green;
     border-radius: 15px;
      }
  
  input{ 
    border:none;
  border-bottom: 1px solid black;
  border-bottom-color: grey; 
background-color: azure;
}
  